# Git
.git
.gitignore

# Build files
target/
!target/yearbook-0.0.1-SNAPSHOT.jar

# IDE specific files
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/
*.sublime-*

# Logs
logs/
*.log

# Local development
.env*
docker-compose*.yml
docker-compose*.yaml

# Documentation
README.md
LICENSE
CHANGELOG.md
docs/

# OS Files
.DS_Store
Thumbs.db